version: "3.9"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: elasticsearch
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - ELASTIC_PASSWORD=changeme
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ifrc_report-nextjs
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - elasticsearch

volumes:
  esdata:
    driver: local
